<div class="sponsors-card-carousel">
    <!-- Card 1 -->
    <div class="card">
      <img src="/images/about/membership/logo-clear-float-spa.png" alt="Clear Float Spa" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Clear Float Spa</h5>
        <p class="card-text">Clear Float Spa is an experience where you go into a sensory deprivation state by floating on water! They have agreed to provide 10% off to all Engineering Membership Cardholders.</p>
      </div>
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <img src="/images/about/membership/logo-common-wealth.png" alt="Commonwealth" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Commonwealth</h5>
        <p class="card-text">Commonwealth has not only offered to host events for us, but they have also agreed to provide no line/no cover charge benefits to everyone who holds an ESS membership card! (This only applies on non-special event days, and up until 11:00pm)</p>
      </div>
    </div>
  
    <!-- Card 3 -->
    <div class="card">
      <img src="/images/about/membership/logo-eighty-eight.png" alt="Eighty Eight Brewing Co" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Eighty Eight Brewing Co</h5>
        <p class="card-text">Eighty Eight Brewing Co has agreed to provide Engineering Membership Cardholders with 10% off all purchases made at their location. Their drinks are amazing.</p>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="card">
      <img src="/images/about/membership/logo-jamesons.png" alt="Jameson's Pub" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Jameson's Pub</h5>
        <p class="card-text">Jameson's Pub is a super close Irish themed pub to the University (only 20 min walk). They have agreed to provide all Engineering Membership Cardholders 15% off on all orders that aren't on special.</p>
      </div>
    </div>
  
    <!-- Card 5 -->
    <div class="card">
      <img src="/images/about/membership/logo-rated-ultra-lounge.png" alt="Rated Ultra Lounge" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Rated Ultra Lounge</h5>
        <p class="card-text">Rated Ultra Lounge has agreed to provide all Engineering Membership cardholders no line/no cover charges, and 10% off bottle service. Expect some events to be held here as well!</p>
      </div>
    </div>
  
    <!-- Card 6 -->
    <div class="card">
      <img src="/images/about/membership/logo-red-bull.png" alt="Red Bull" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Red Bull</h5>
        <p class="card-text">Huge thanks to Red Bull for providing us with some amazing drinks at our social events.</p>
      </div>
    </div>
  
    <!-- Card 7 -->
    <div class="card">
        <img src="/images/about/membership/logo-reds-diner.png" alt="Red's Diner" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Red's Diner</h5>
          <p class="card-text">ESS membership cardholders get 10% off all purchases made at the Kensington location. This is a great breakfast or brunch location.</p>
        </div>
      </div>
    
      <!-- Card 8 -->
      <div class="card">
        <img src="/images/about/membership/logo-the-village-flatbread.png" alt="The Village Flatbread Co" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">The Village Flatbread Co</h5>
          <p class="card-text">ESS members get 10% off all orders AND you can still get the discount if you order online with the promotional code #ESS. They have a variety of options including vegetarian and halal.</p>
        </div>
      </div>
  
  </div>
  