{{ define "main" }} {{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <h2>Engineering Department Societies</h2>
    </div>
    {{ range (where .Site.Pages "Layout" "department") }}
    <div class="row dept-container">
      <div class="dept-list-info">
        <a href="{{ .Permalink }}">
          <img
            class="dept-list-logo"
            src="{{ .Params.Logo | relURL }}"
            alt="{{ .Title }}"
          />
        </a>
      </div>
      <div class="dept-info-conatiner">
        <h3>
          <a href="{{ .Permalink }}">{{ .Title }} | {{ .Params.Subtitle }}</a>
        </h3>
        <h4>{{ .Params.President.title}}: {{ .Params.President.name}}</h4>
        <p>{{ .Summary | truncate 200 }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
