{{ define "main" }} {{ partial "page-title.html" . }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>About our Membership</h2>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>

{{ if .Params.buy_now.enable }} {{ with .Params.buy_now }}

<section
  class="call-to-action bg-1 section-sm overly"
  style="background-image: url('{{ .bg_image | absURL }}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
          <a
            class="btn btn-main btn-solid-border"
            href="{{ .button_link| relLangURL }}"
            >{{ .button_label }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }} {{ end }} {{ end }}
