{{ define "main" }} {{ partial "page-title.html" . }} {{ $data := index
.Site.Data .Site.Language.Lang }}

<section class="section">
  <div class="container">
    <h2>{{ .Title }}</h2>
    {{.Content}}
    <a
      class="btn btn-main"
      target="_blank"
      href="https://drive.google.com/drive/folders/1uDVChpl-1ni5lij5Mj7cHn3U7DJMRYao?usp=drive_link"
      >Public Drive</a
    >
    <hr />
    <h2>University of Calgary Engineering Students’ Society Constitution</h2>
    {{ if $data.constitution.info.enable }} {{ with $data.constitution.info }}
    <p>
      Revision Number: {{.last_revision.number}} | Revised: {{
      .last_revision.date }}
    </p>
    <h3>Preamble</h3>
    {{.preamble | markdownify }} {{ end }} {{ end }} {{ if
    $data.constitution.articles.enable }} {{ with $data.constitution.articles }}
    {{ range .article_items}}
    <div class="container">
      <h3>{{ .name }}</h3>
      <div>{{ .content | markdownify }}</div>
    </div>
    {{end}} {{end}} {{end}}
  </div>
</section>

{{ end }}
