{{ define "main" }} {{ partial "page-title.html" . }} {{ $data := index
.Site.Data .Site.Language.Lang }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Sponsors</h2>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="sponsor-level" style="color: #5d81a3">Platinum</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "title" }}
      <a class="sponsor-logo gold-sponsor-logo" href="{{.Params.website}}">
        <img src="{{.Params.logo | relURL}}" alt="{{.Title}}" />
      </a>
      {{end}}
    </div>
    <div class="row platinum-sponsor-bio-container"></div>
      {{range (sort (where .Site.Pages "Params.membertype" "platinum-sponsor") ".Params.name" "asc")}}
        <div class="col-sm-6 col-md-4" style="padding-top: 30px;">
          <div class="service-item">
            <img class="img-responsive img-council" src="{{ .Params.image | absURL }}">
            <h3 style="text-align: center;">{{ .Params.name | markdownify }}</h3>
            <div style="text-align: left">
              <p>{{ .Content }}</p>
            </div>
          </div>
        </div>
      {{end}}
    </div>
  </div>
  <hr />
</section>

<!-- <section>
  <div class="container">
    <h2 class="sponsor-level" style="color: #ffd700">Gold</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "gold" }}
      <a class="sponsor-logo gold-sponsor-logo" href="{{.Params.website}}">
        <img src="{{.Params.logo | relURL}}" alt="{{.Title}}" />
      </a>
      {{end}}
    </div>
  </div>
  <hr />
</section> -->

<section>
  <div class="container">
    <h2 class="sponsor-level" style="color: #c0c0c0">Silver</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "silver" }}
      <a class="sponsor-logo silver-sponsor-logo" href="{{.Params.website}}">
        <img src="{{.Params.logo | relURL}}" alt="{{.Title}}" />
      </a>
      {{end}}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="sponsor-level" style="color: #cd7f32">Bronze</h2>
    <div class="sponsor-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "bronze" }}
      <a class="sponsor-logo bronze-sponsor-logo" href="{{.Params.website}}">
        <img src="{{.Params.logo | relURL}}" alt="{{.Title}}" />
      </a>
      {{end}}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 id="community-partners">Community Partners</h2>
        <p>
          Get discounts when you present your ESS membership at any of our
          community partners! We'd like to thank each and every one of our
          community partners for helping bring the Schulich community together!
        </p>
      </div>
    </div>
  </div>
</section>

<section style="padding: 0px 0px 30px 0px">
  <div class="container">
    <div class="sponsor-logos-container partner-logos-container">
      {{ range where .Site.Pages "Params.sponsortier" "partner" }}
      <a class="sponsor-logo bronze-sponsor-logo" href="{{.Params.website}}">
        <img src="{{.Params.logo | relURL}}" alt="{{.Title}}" />
      </a>
      {{end}}
    </div>
  </div>
</section>

{{ end }}
