{{ define "main" }}

<section
  class="page-title bg-2"
  style="background-image: url('{{.Params.Bg_image | absURL}}');"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img class="dept-head-logo" src="{{ .Params.logo | relURL }}" />
        <div class="block">
          <h1>{{ .Title }}</h1>
          <p>{{ .Params.Subtitle }}</p>
          <a class="btn btn-main" href="{{ .Params.social.website }}"
            >Website</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">{{ .Content }}</div>
  </div>
  {{ if .Params.accepting}}
  <div class="container">
    <div class="row">
      <h3>Application Form</h3>
      <iframe
        src="{{.Params.application_form}}"
        width="100%"
        height="1114"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        >Loading…</iframe
      >
    </div>
  </div>

  {{end}}
</section>

{{ end }}
