{{ define "main" }} {{ partial "page-title.html" . }} {{ $data := index
.Site.Data .Site.Language.Lang }}

<section class="section">
  <div class="container">
    <div class="row">
      <h2>{{.Title}}</h2>
      {{.Content }}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <h3>Companies Attending</h3>
    </div>
    {{ range (where .Site.Pages "Layout" "career-fair-company") }}
    <div class="row dept-container">
      <div class="dept-list-info">
        <a href="{{ .Params.social.website }}">
          <img
            class="dept-list-logo"
            src="{{ .Params.Logo | relURL }}"
            alt="{{ .Title }}"
          />
        </a>
      </div>
      <div class="dept-info-conatiner">
        <h3>
          <a href="{{ .Params.social.website }}">{{ .Title }}</a>
        </h3>
        <p>{{ .Content }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</section>

{{ end }}
