{{ define "main" }} {{ partial "page-title.html" . }} {{ partial "update.html" .
}} {{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>{{ .Title }}</h1>
        <p>{{.Content}}</p>
        {{ range where .Site.Pages ".Params.eventlisting" true}}
        <br>
        <h2>{{.Title}}</h2>
        <p>{{ .Content }}</p>
        <br>
        <a class="btn btn-main" target="_blank" href="{{ .Permalink }}"
          >Learn More</a
        >
        <br>
        {{end}}
      </div>
    </div>
  </div>
</section>

{{ end }}
