{{ define "main" }} {{ partial "page-title.html" . }} {{ $data := index
.Site.Data .Site.Language.Lang }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ .Title }}</h2>
        <p>
          The ESS hosts a number of social and professional events throughout
          the year. Whether you want to develop your soft skills, gain industry
          connections, or have a good time, the ESS has an event for you. We
          can't wait to see you out there!
        </p>
        <p>{{ .Content }}</p>
      </div>
    </div>
  </div>
</section>

{{ end }}
