.council-card {
    background: white;

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 4px 15px rgba(0,0,0,.08);

    transition: .25s;

    display: flex;
    flex-direction: column;

    height: 100%;
}


.council-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,.12);
}


.council-card img {
    width: 100%;
    object-fit: cover;

    flex-shrink: 0;
}


.card-content {
    padding: 15px;

    display: flex;
    flex-direction: column;

    flex: 1;
}


.card-content h3 {
    color: #C5332C;
    margin-bottom: 5px;
}


.card-content h4 {
    margin-bottom: 2px;
    color: #666;
}


.member-info {
    font-weight: 600;
    margin-bottom: 8px;
}


.card-content p {
    font-size: 1em;
    line-height: 1.5;
}


/* =========================
   ICONS
========================= */

.card-icons {
    display: flex;

    gap: 18px;

    margin-top: auto;

    padding-top: 20px;
}


.card-icons a {
    font-size: 1.6rem;

    color: #C5332C;

    transition: .2s;
}


.card-icons a:hover {
    color: #982822;
}


/* =========================
   EXPAND BUTTON
========================= */

.expand-button {
    background: none;
    border: none;

    color: #C5332C;

    font-weight: 600;

    cursor: pointer;

    padding: 0;

    margin-top: 10px;

    font-size: 1rem;
}


.expand-button:hover {
    color: #982822;
}


.description {
    margin-top: 12px;

    line-height: 1.5;

    white-space: pre-line;
}