
.active{
    background-color: #fbc05a;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(38, 73%, 85%);
    position: sticky;
    top: 0;
    height: 60px;
}

nav .title img{
    height: 40px;
    width: auto;
    padding-left: 30px;
}

nav ul{
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
    background-color: #fedca0;
    
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between; 
    width: 2.25rem;
    height: 2rem;
}

nav .menu span{
    height: 0.3rem;
    width: 100%;
    background-color: rgb(243, 31, 31);
    border-radius: 0.2rem;
}

.dropdown {
    position: relative;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: black;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #F5E1BE;
    min-width: 180px;
    padding: 0.2rem;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  
}

.dropdown-menu li {
    padding: 0.2rem;
}

.dropdown-menu.open {
    display: block; 
}

@media (hover: hover) and (min-width: 481px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}
@media (max-width: 480px), (hover:none){
   nav {
        flex-wrap: wrap;
        height: auto;
    }

    nav .menu {
        display: flex;
        position: static;
        margin-right: 20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    .dropdown-menu {
        position: static;
        background: #F5E1BE;
        margin-top: 8px;
        border-radius: 10px;
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
        }
    .dropdown-menu.open {
        display: block;
    }
    .dropdown-menu.open {
        display: flex;
        flex-direction: column;
    }
}